<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Sleepable Ai</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>sleepable_ai</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
       <dict>
          <key>CFBundleIdentifier</key>
          <string></string>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>com.sleepableai.sleepableai</string>
          <key>CFBundleURLSchemes</key>
          <array>
             <string>com.googleusercontent.apps.1029720181448-bbmqjuvi7pms0m41anmefppu7gpsj4sg</string>
          </array>
       </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
       <string>fbapi</string>
       <string>fb-messenger-share-api</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <key>NSCameraUsageDescription</key>
    <string>Sleepable AI needs camera access to detect movement during sleep for better analysis.</string>
   <key>NSMicrophoneUsageDescription</key>
   <string>Sleepable AI requires continuous microphone access to accurately analyze your sleep cycles and record sleep disruptions throughout the night.</string>
   <key>NSPhotoLibraryUsageDescription</key>
    <string>Sleepable AI needs access to your photo library to let you upload a profile picture.</string>

    <key>NSUserNotificationUsageDescription</key>
    <string>Sleepable AI sends active notifications to show that sleep tracking and analysis are running in the background.</string>

    <key>UIApplicationSceneManifest</key>
    <dict>
       <key>UIApplicationSupportsMultipleScenes</key>
       <false/>
       <key>UISceneConfigurations</key>
       <dict>
          <key>UIWindowSceneSessionRoleApplication</key>
          <array>
             <dict>
                <key>UISceneClassName</key>
                <string>UIWindowScene</string>
                <key>UISceneConfigurationName</key>
                <string>flutter</string>
                <key>UISceneDelegateClassName</key>
                <string>FlutterSceneDelegate</string>
                <key>UISceneStoryboardFile</key>
                <string>Main</string>
             </dict>
          </array>
       </dict>
    </dict>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <key>UIBackgroundModes</key>
    <array>
       <string>fetch</string>
       <string>remote-notification</string>
       <string>audio</string>
       <string>processing</string> </array>

    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.pravera.flutter_foreground_task.refresh</string>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
       <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
       <string>UIInterfaceOrientationPortrait</string>
       <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
</dict>
</plist>